@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background: #F9F9F9;

}

.bg-icons{
	background: #F5F5F5;
}

.bg-icons:hover{
	background: #ecedef;
	transition:.2s;
}

.bg-primary{
	background: #1890FF;
}

.container{
	max-width: 740px;
	margin-left:auto;
	margin-right:auto;
}

.appear{
	animation:fade-in .2s;
}
.leave{
	animation:fade-out .2s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes fade-out{
	from {
		opacity: 1;
	}

	to{
		opacity: 0;
		height: 0;
	}
}
